[server]
listen_addr = "0.0.0.0:8080"

[security]
rate_limit_rps  = 100
rate_limit_burst = 50
ban_threshold   = 50
ban_duration    = "1m"

[victoria_metrics]
url = "http://victoria-metrics:8428"

[loki]
url = "http://loki:3100"
